.section {
    display: grid;
    grid-auto-rows: minmax(50px, auto);
    grid-row-gap: 1px;
    margin: 15px 10px;
}

.section__body {
    background-color: white;
    padding: 5px;
}

.section__header {
    display: grid;
    grid-template-columns: 1fr auto;
    padding: 0 10px;
    grid-gap: 20px;
    background-color: white;
}

@media (max-width: 767px) {
    .section__header {
        grid-template-columns: 1fr;
    }
}

.section__title {
    margin-left: 5px;
}