html {
  box-sizing: border-box;
}

*, ::after, ::before {
  box-sizing: inherit;
}

body {
  background-color: #eee;
  font-family: 'Montserrat', sans-serif;
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
}

.header {
  font-size: 14px;
  padding-top: 20px;
  margin: 10px;
}