html {
  box-sizing: border-box;
}

*, ::after, ::before {
  box-sizing: inherit;
}

body {
  background-color: #eee;
  font-family: 'Montserrat', sans-serif;
  font-size: smaller;
}

.header {
  padding-top: 20px;
  margin: 10px;
}